.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}
.subtitulo {
  text-align: center;
  font-weight: 400;
  color: $background;
  margin-bottom: 25px;
  font-size: 40px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.check-servicio {
  width: 90%;
}
.service {
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
  .n-service {
    margin-bottom: 10px;
    color: $background;
    .number {
      display: inline-block;
      background-color: $background;
      width: 30px;
      height: 27.5px;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      font-weight: 700;
      line-height: 30px;
      margin-right: 5px;
    }
  }
  .contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .contenedor-galeria img {
    margin: 10px;
  }
}
